html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress {

  height: 29px;
  background-color: #523737;
  background-color: #39bd4f;
}

.progressContainer {
  margin-top: 20px;
  width: 500px;
  height: 30px;
  background-color: #523737;
  border:1px solid black;
}